body{
    margin:0;
    background-color: #fafafa;
}
button{
    color:black;
}
.forma{
    padding-left:5px;
}
.header {
    background: linear-gradient(135deg, #aef272 35%, #32ce2a 100%);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 2;
}
.heading{
    font-family: 'Montserrat', sans-serif;
    font-size:2em;
    color: #60a362;
}
  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}
  
.header li a{
    color: #457d47;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
.header li a:hover,
.header .menu-btn:hover {
    background-color: #86db9d;
}
.header li a:active{
    color: #457d47;
}
  
.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    color: #60a362;
    font-family: 'Montserrat', sans-serif;
}
.logo img{
    padding-right: 10px;
}
.header li .loginbutton{
    position: absolute;
    left: -100vw;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
.header .menu-btn {
    display: none;
}

.header .menu-btn:checked ~ .menu {
    max-height: 300px;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
    top: 0;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 1290px) {
    .header li {
        float: left;
        font-size:14px;
    }
    .header li a {
        padding: 20px 30px;
    }
    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }
    .header .menu-icon {
        display: none;
    }
}

.socialbutton{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 60px; 
    overflow:hidden;
    border-radius: 50%;
    margin-bottom:5px;
}
.socialbutton-container{
    display:flex;
    flex-direction: row;
    gap:5px;

}
.socialbutton::before {
    content: "";
    position: absolute;
    top: -100%;
    left:0%;
    width: 100%;
    height: 100%;
    transition: top linear 0.5s;
}
.socialbutton:hover::before{
    top:0%;
}
.vk::before{
    background: linear-gradient(135deg, #72EDF2 10%, #5151E5 100%);
}
.yt::before {
    background: linear-gradient(45deg, #f87575 10%, #ee2929 90%);
}
.rd::before{
    background: linear-gradient(45deg, #f7a151 30%, #ff4000 100%);
}

footer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    position: relative;
    width: 1fr;
    height:auto;
    padding: 10px 30px;
    background: linear-gradient(#aef272 35%, #32ce2a 100%);
}
.footer-container{
    padding-left:20px;
    width:100%;
    display:grid;
    justify-content: end;
    align-content: end;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-gap: 20px;
    background: #60847b43;
    border-radius: 15px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
.footer-container .footer-element h2{
    position: relative;
    color:#297b2a;
    font-weight: 500;
    margin-bottom:15px;
    font-family: 'Montserrat', sans-serif;
}
.footer-container .footer-element h2:before{
    content:'';
    position: absolute;
    bottom:-5px;
    left:0;
    width:80px;
    height:2px;
    background: linear-gradient(135deg, #e5e5e4 35%, #abdeab 100%);
}
.footer-buttons{
    margin-left:-40px;
    margin-top:20px;
    display:grid;
    grid-template-columns: repeat(4,40px);
    grid-gap:30px;
}
.footer-buttons li{
    list-style: none;
}
.footer-menu ul{
    margin-left:-40px;
}
.footer-menu li{
    list-style: none;
}
.footer-menu li a, .footer-menu li span{
    color:black;
    text-decoration: underline;
    margin-bottom:5px;
    display:inline-block;
    font-family: 'Mooli', sans-serif;
    font-size:14px;
    transition: transform 0.3s;
}

.footer-menu li a:hover, .footer-menu li span:hover{
    transform: scale(1.05);
}

.footer-contacts{
    position: relative;
}
.footer-contacts ul{
    margin-left:-39px;
}

.footer-contacts li{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-bottom: 15px;
    text-align: left;
    font-size:14px;
    font-family: 'Mooli', sans-serif;

}
.footer-contacts li p{
    margin-top:5px;
}

.footer-copyright{
    width:100%;
    background:#32ce2a;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    grid-area:cr;

}
.footer-container .footer-aboutus p{
    font-family: 'Mooli', sans-serif;
    font-size: 14px;
}
#maingrid{
    padding-top:30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:2fr 350px 50px;
    grid-column-gap:10px;
    grid-template-areas: 
    "main main main"
    "foot foot foot"
    "cr cr cr";
}
footer{
    grid-area: foot;
}
.main-heading{
    padding:60px 20px 5px 20px;
    font-family: 'Montserrat', sans-serif;
}
.mainarea{
    grid-area:main;
}
.sidearea{
    grid-area:side;
}
.central-images{
    width:95%;
    padding:20px;
    padding-top:50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,200px);
    grid-gap:20px;
    object-fit: cover;
    grid-template-areas:
    "big big big si1"
    "big big big si2";
}
.central-image{
    width: 100%;
    height: 100%;
    transition:transform 0.3s;
}
.big-image{
    border-radius: 5%;
    grid-area: big;
}
.big-image:hover{
    transform: scale(1.02);
}
.small-image{
    border-radius: 10%;
}
.small-image:hover{
    transform: scale(1.05);
}
.si1{
    grid-area: si1;
}
.si2{
    grid-area: si2;
}
.centered-container{
    display:flex;
    align-items: center;
    justify-content: center;
}
.our-benefits{
    padding-top:20px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: 225px;
    grid-column-gap:20px;
}
.benefit-block{
    width:100%;
    display:grid;
    grid-template-rows: repeat(2,1fr);
    justify-items: center;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    height:100%;
    background: linear-gradient(#a4f4a22a 25%, #58ff5880 100%);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    
}
.benefit-image{
    top:20px;
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 90px;
    height: 90px; 
    overflow:hidden;
    border-radius: 50%;
    margin-bottom:5px;
    background-color: rgba(255, 255, 255, 0.297);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.popular-catalogue{
    width:90%;
    padding-top:10px;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 200px;
    grid-column-gap:20px;
}

.popular-catalogue-block img, .catalogue-block img, .catalogue-item img, .i-img img, .i-changeimg-item img, .i-delivery-item img, .cart-item img, .catalogue-item a, .catalogue-item a img{
    max-height: 100%;
    max-width: 100%;
}
.catalogue-item a{
    display: block;
}

.popular-catalogue-item p{
    color:black;
    font-family: 'Mooli', sans-serif;

}
.recommendations{
    width:80%;
    padding-top:10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,300px);
    grid-gap:35px;
}
.recommended-item{
    width:100%;
    height:100%;
    background: #a4f4a22a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.great-deals{
    width:85%;
    padding:50px;
    padding-top:0px;
    object-fit: cover;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,325px);
    grid-column-gap:20px;
    grid-row-gap: 60px;
    grid-template-areas:
    "smalldb1 smalldb2 smalldb3"
    "bigdb bigdb bigdb";
}
.deal-block{
    width:100%;
    height:100%;
    background: #a4f4a22a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.deal-block img{
    width:100%;
    height: 100%;
}
.sdb1{
    grid-area: smalldb1;
}
.sdb2{
    grid-area: smalldb2;
}
.sdb3{
    grid-area: smalldb3;
}
.big-db{
    grid-area: bigdb;
}
#maingrid-catalogue{
    padding-top:30px;
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows:2fr 350px 50px;
    grid-column-gap:10px;
    grid-template-areas: 
    "side main main"
    "foot foot foot"
    "cr cr cr";
}
.catalogue-grid{
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    padding-top:50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,225px);
    grid-gap:20px;
}
.catalogue-block{
    display: grid;
    grid-template-rows: 150px 75px;
    justify-items: center;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    width:100%;
    height:100%;
    background: linear-gradient(#a4f4a22a 25%, #58ff5880 100%);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.3s;
}
.popular-catalogue-block{
    display: grid;
    grid-template-rows: 125px 75px;
    justify-items: center;
    text-align: center;
    font-family: 'Mooli', sans-serif;
    width:100%;
    height:100%;
    background: linear-gradient(#a4f4a22a 25%, #58ff5880 100%);
    border-radius: 10px;
    text-decoration: none;
    color:black;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.3s;
}
.catalogue-block img,.popular-catalogue-block img{
    transition:transform 0.3s;
}

.catalogue-grid-items{
    margin-left: 5%;
    margin-right: 5%;
    padding:20px;
    padding-top:50px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,275px);
    grid-gap:20px;
}
.catalogue-item{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 140px 20px 40px 40px;
    align-items: center;
    grid-row-gap: 10px;
    font-family: 'Mooli', sans-serif;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(254, 255, 254, 0.494) 55%, #58ff5880 100%);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.catalogue-item a{
    padding-top: 10px;
    width:60%;
    height:100%;
    place-self: center;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
    transition: transform 0.3s;
}
.catalogue-item img{
    display: block;
    width:100%;
    height:100%;
    place-self: center;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
    transition: transform 0.3s;
}
.catalogue-item .price,.catalogue-item .money-symbol{
    display: inline;
    place-self: left;
    font-size:28;
}

.catalogue-block p, .catalogue-item p{
    color:black;
    font-size: 16;
    font-family: 'Mooli', sans-serif;
}
.catalogue-item p{
    padding-left:10px;
    margin-bottom:20px;
}
.catalogue-item button{
    place-self: center;
    width:90%;
    height: 90%;
    border:none;
    outline:none;
    font-size:16px;
    font-family: 'Mooli', sans-serif;
    border: 1px #8dfc80 solid;
    background: linear-gradient(45deg, #1aff007e 35%, #00970080 100%);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}
.catalogue-list{
    margin-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    padding-left:0;
    background: #7f7f7f2a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.catalogue-list li{
    width:100%;
    display: block;
    list-style: none;
    text-align: right;
    padding-top:25px;
    padding-bottom: 25px;
    transition: background 0.2s;
}
.catalogue-list button{
    display: block;
    width:100%;
    border:none;
    text-align: right;
    background: transparent;
    font-family: 'Mooli', sans-serif;
    font-size: 16;
}
#maingrid-item{
    padding-top:30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows:1fr 350px 50px;
    grid-column-gap:10px;
    grid-template-areas: 
    "main main main"
    "foot foot foot"
    "cr cr cr";
}
.item-grid{
    width:100%;
    padding:20px;
    padding-top:30px;
    display: grid;
    grid-template-columns: 100px 1fr 0.8fr 1.2fr;
    grid-template-rows: 50px 275px 275px;
    grid-gap:40px;
    height: 100vh;
    grid-template-areas:
    "i-title i-title i-title i-title"
    "i-changeimg i-img i-img i-button"
    "i-changeimg i-img i-img i-delivery";
}
.i-title{
    font-family: 'Montserrat', sans-serif;
    grid-area:i-title;
}
.i-img{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    background: linear-gradient(rgba(255, 255, 255, 0) 55%, #6f6f6f80 100%);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    grid-area:i-img;
}
.i-changeimg{
    grid-area: i-changeimg;
    margin-left: 10px;
    margin-right: 10px;
    height:100%;
    width:100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4,1fr);
    grid-row-gap:50px
}
.i-changeimg-item{
    display:flex;
    align-items: center;
    width:100%;
    height:100%;
    background: rgba(254, 255, 254, 0.494);
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transition: transform 0.3s;
}
.i-changeimg-item button{
    width:100%;
    height:100%;
    border:none;
    background: transparent;
    transform: scale(1.1);
}
.toggled{
    border:1px black solid;
    background: linear-gradient(rgba(255, 255, 255, 0) 35%, #4a4a4a80 100%);
}
.i-button{
    display:grid;
    grid-template-rows: 1fr 50px 1fr 50px;
    width:100%;
    height:100%;
    background: #a4f4a22a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    grid-area: i-button;
}
.i-button .i-price{
    padding-left:5%;
    font-size:64px;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    margin-top:24px;
    margin-bottom:-56px;
}
.i-price{
    display:inline;
}
.i-money-symbol{
    font-size:64px;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    display: inline;
}
.i-button .i-fullprice{
    padding-left:5%;
    font-size:18px;
    font-family: 'Mooli', sans-serif;
    font-weight: bold;
    text-decoration: line-through;
    margin-top:24px;
    margin-bottom:-56px;
    color:gray;
}
.i-button .i-available{
    padding-left:5%;
    font-size:18px;
    font-family: 'Mooli', sans-serif;
    margin-top:0px;
    margin-bottom:-56px;
    color:#297b2a;
}
.i-button button{
    place-self: center;
    width:90%;
    height: 70%;
    border:none;
    outline:none;
    font-size:16px;
    font-family: 'Mooli', sans-serif;
    border: 1px #8dfc80 solid;
    background: linear-gradient(45deg, #1aff007e 35%, #00970080 100%);
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

.i-delivery{
    display: grid;
    align-items: center;
    grid-template-rows: repeat(3,1fr);
    width:100%;
    height:100%;
    background: #a4f4a22a;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    grid-area: i-delivery;
}
.i-delivery-item{
    padding-left:5%;
    display:grid;
    place-items: center;
    grid-template-columns: 75px 1fr;
    grid-column-gap: 10px;
    width:100%;
    height:100%;
}
.i-delivery-item p{
    padding-right:15px;
    text-align: center;
    font-size:18px;
    font-family: 'Mooli', sans-serif;
}

#couches, #beds, #cabinets, #dressers, #decor, #office, #kitchen, #tables, #carpets, #lights{
    display: none;
}
.catalogue-grid button{
    border:none;
    cursor: pointer;
}
.main-cart-container, .empty-cart-container{
    margin:10px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background: linear-gradient(135deg,rgba(180, 180, 180, 0.342) 10%, #7373734e 100%);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}
.empty-cart-container{
    margin:40px;
}
.cart-buttons{
    padding-top:30px;
    display: flex;
    flex-direction: column;
    align-items: left;
    width:40px;
    height:40px;

}
.cart-buttons button{
    border-radius: 10px;
    border: 1px #8dfc80 solid;
    outline: none;
    background-color: rgba(254, 255, 254, 0.494);
}
.cart-container, .empty-cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:40px;
    padding:40px;
    padding-top:60px;
    padding-bottom:80px;
    background: linear-gradient(135deg,rgba(151, 241, 151, 0.461) 10%, #b9ff586c 100%);
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}
.empty-cart{
    flex-direction: column;
    justify-content: center;
    flex-wrap: nowrap;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.empty-cart a{
    text-decoration: none;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    width:150px;
    height:25px;
    font-size:16px;
    border: 1px #8dfc80 solid;
    background: linear-gradient(45deg, #1aff007e 35%, #00970080 100%);
    border-radius: 10px;
    cursor: pointer;
}
.cart-total-container{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-size:24px;
    margin:40px;
    padding:-20px;
    background: linear-gradient(135deg,rgba(151, 241, 151, 0.461) 10%, #b9ff586c 100%);
    border-radius: 10px;
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
}
.cart-total-amount{
    font-size:36px;
    margin-top:-16px;
}
.cart-item{
    margin:10px;
    width:30%;
    display: grid;
    grid-template-rows: 10px 140px 30px 30px 20px;
    align-items: center;
    grid-row-gap: 10px;
    font-family: 'Mooli', sans-serif;
    background: linear-gradient(rgba(254, 255, 254, 0.494) 55%, #58ff5880 100%);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.cart-item .remove-cart-item{
    margin-top:40px;
    padding:20px;
}
.cart-item img{
    place-self: center;
    margin-top:10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .13), 0 1px 1px 0 rgba(0, 0, 0, .11);
}
.cart-item .price{
    padding-top:15px;
    display: inline;
    place-self: left;
    font-size:26;
}
.cart-item .title{
    margin-top:35px;
}
.cart-item p{
    color:black;
    font-size: 16;
    font-family: 'Mooli', sans-serif;
}
.cart-item p{
    padding-left:10px;
    margin-bottom:20px;
}
.about-us-container{
    padding:10px;
    border-radius: 10px;
    background: linear-gradient(135deg,rgba(180, 180, 180, 0.342) 10%, #7373734e 100%);
    box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .13), 0 1px 4px 0 rgba(0, 0, 0, .11);
    display: grid;
    grid-gap:20px;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5,150px);
    grid-template-areas: 
    "aub1 aub1 aub1 aub2 aub2"
    "aub1 aub1 aub1 aub2 aub2"
    "aub3 aub3 aubL aub2 aub2"
    "aub3 aub3 aub4 aub4 aub4"
    "aub3 aub3 aub4 aub4 aub4";
}
.about-us-block{
    width:100%;
    height:100%;
    object-fit: cover;
    background: linear-gradient(rgba(254, 255, 254, 0.494) 55%, #58ff5880 100%);
    border-radius: 10px;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.about-us-block iframe{
    max-width: 100%;
    max-height: 100%;
    border:none;
    border-radius:10px;
    border:1px #58ff5880 solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.about-us-block p{
    font-size: 24;
    font-family: 'Mooli', sans-serif;
}
.aub1{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area:aub1;
}
.aub1 p, .aub2 p, .aub3 p{
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}
.au-desc{
    margin-left: 10px;
    margin-right: 10px;
    border-radius:10px;
    border:1px #58ff5880 solid;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: #cdcccc28;
}
.aub2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area:aub2;
}
.aub3{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area:aub3;
}
.aub4{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
    grid-area:aub4;
}
.aubL{
    grid-area:aubL;
}
.au-logo{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
.catalogue-list li:hover{
    background-color: #a9a7a72a;
}
.catalogue-item button:hover, .i-button button:hover{
    transform:scale(1.05);
}

.catalogue-block:hover{
    transform:scale(1.05);
}
.catalogue-block:hover img{
    transform:scale(1.1);
}
.popular-catalogue-block:hover{
    transform:scale(1.03);
}
.popular-catalogue-block:hover img{
    transform:scale(1.05);
}
.i-changeimg-item:hover{
    transform:scale(1.05);
}
@media(max-width:1300px){
    .our-benefits{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,225px);
        grid-gap:20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
}
@media (max-width:1150px){
    .about-us-block p{
        font-size:14px;
    }
}
@media (max-width:1015px){
    .item-grid{
        width:90%;
        grid-template-columns: 100px 1fr;
        grid-template-rows: 100px 250px 250px 275px 275px 1fr;
        grid-template-areas:
        "i-title i-title"
        "i-changeimg i-img"
        "i-changeimg i-img"
        "i-button i-button"
        "i-delivery i-delivery"
        "i-desc i-desc";
    }
    .popular-catalogue{
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(2,200px);
        grid-row-gap: 20px;
    }
    .popular-catalogue-item{
        grid-template-rows: 130px 70px;
    }
    .cart-item{
        width:45%;
    }
    .recommendations{
        width:70%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(4,300px);
        grid-row-gap: 20px;
        justify-content: center;
    }
    .great-deals{
        grid-template-rows: 225px 300px;
        grid-row-gap:25px;
    }
    .about-us-container{
        grid-template-columns: repeat(5,0.8fr);
        grid-template-rows: repeat(5,120px);
    }
    .about-us-block p{
        font-size:12px;
    }
    #maingrid{
        grid-template-rows:2fr 610px 50px;
    }
    #maingrid-catalogue{
        grid-template-columns: 0.5fr 1.5fr;
        grid-template-rows:2fr 610px 50px;
    }
    #maingrid-item{
        grid-template-rows:1350px 610px 50px;
    }
    .catalogue-grid, .catalogue-grid-items{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(6,275px);
    }
    .footer-container{
        grid-template-columns: repeat(2,1fr);
    }
    .footer-container .footer-aboutus p{
        max-width:800px
    }
   
}
@media (max-width:888px){
    .central-images{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px 150px 225px;
        grid-template-areas:
        "big big"
        "big big"
        "si1 si2";
    }
}
@media (max-width:769px){
    .item-grid{
        width:80%;
        grid-template-columns: 1fr;
        grid-template-rows: 150px 475px 75px 275px 275px 1fr;
        grid-template-areas:
        "i-title"
        "i-img"
        "i-changeimg"
        "i-button"
        "i-delivery"
        "i-desc";
    }
    .i-changeimg{
        margin-left: 0;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 50px;
    }
    .about-us-container{
        grid-template-rows: repeat(5,70px);
    }
    .about-us-block p{
        font-size:10px;
    }
    #maingrid{
        grid-template-rows:2fr 1190px 60px;
    }
    #maingrid-catalogue{
        grid-template-columns: 0.7fr 1.3fr;
        grid-template-rows:2fr 1190px 60px;
    }
    #maingrid-item{
        grid-template-rows:1500px 1190px 60px;
    }
    .cart-item{
        width:95%;
    }
    .catalogue-grid, .catalogue-grid-items{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(9,275px);
    }
    .footer-container{
        grid-template-columns: repeat(1,1fr);
    }
    .footer-container .footer-aboutus p{
        max-width:400px
    }
    .sidebar{
        padding-bottom:10px;
    }
    .great-deals{
        grid-template-rows: 150px 200px;
        grid-row-gap:20px;
    }
    
}
@media (max-width:570px){
    .central-images{
        grid-template-rows: 100px 100px 175px;
    }
    .main-heading{
        padding:40px 10px 5px 10px;
    .i-changeimg{
        grid-column-gap: 25px;
    }
    .central-images{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 100px 150px;
    }
    #maingrid{
        padding-top:60px;
    }
    .about-us-block p{
        font-size:9px;
    }
    .i-changeimg{
        grid-column-gap: 25px;
    }
}
@media (max-width:518px){
    .popular-catalogue{
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,200px);
        grid-row-gap: 20px;
    }
    #maingrid-catalogue{
        grid-template-columns: 125px 1fr;
        grid-template-rows:2fr 1190px 60px;
    }
    .catalogue-list button{
        font-size:14px;
    }
    .catalogue-list li{
        margin-left:0;
    };
    #maingrid{
        padding-top:120px;
    }
    .catalogue-item .price, .catalogue-item .money-symbol{
        font-size:24px;
    }
    .catalogue-item p{
        padding-top:5px;
        font-size:13px;
    }
    .catalogue-item a{
        width:75%;
    }
    .cart-item .price{
        font-size:16px;
    }
    .cart-item .title{
        font-size:14px;
    }
    .about-us-block p{
        font-size:8px;
    }
    .great-deals{
        grid-template-rows: 100px 150px;
        grid-row-gap:20px;
    }
}



